<body>
    <div class="jumbotron">
        <h1 align='center'>Comments</h1>
        {% bootstrap_messages %}

        <form class='form'>
        {% csrf_token %}
            <div class='justify-content-center'>
                <label>Title</label>
                <input class='form-control col-centered' type='text' name='title' required pattern = '[a-zA-Z]+.*'>
            </div>
            <div>
                <label>Text</label>
                <textarea class='form-control' name='text' required pattern = '[a-zA-Z]+.*'></textarea>
            </div>
            <div class='center-align'>
            <button type='submit' class="btn btn-primary">Submit</button>   
    </div>
</body>