{% extends 'sbuddy/base.html' %}
{% load socialaccount %}
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}

<html>
  <head>
    <title>Virtual Study-Buddy Finder</title>
  </head>
  

<div style="height:25px"></div>
<div class="container text-center" style="max-width:750px">
  <div class="jumbotron" style="background-color:#FDFBDD">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">The official website for the virtual study-buddy finder app. </p>
    <hr class="my-4">
    <p>Brought to you by the coding beasts.</p>
        {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }} !</p>
        {% else %}
        <a class="btn btn-primary btn-lg" href="{% url 'account_login' %}" role="button">Sign in</a>
        {% endif %}
    </div>
</div>


  </body>
</html>
{% endblock content %}