{% extends "sbuddy/base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Virtual Study-Buddy Finder</title>
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
    <div class="form jumbotron">
        <h2 class="text-center" style="padding-bottom:25px"> User Matches (By Skills) </h2>
        <table class="table">
            <thead>
                <tr>
                <th class="text-center">User A</th>
                <th class="text-center">Skills User A</th>
                <th class="text-center">User B</th>
                <th class="text-center">Skills User B</th>
                </tr>
            </thead>

            <tbody>
                {% for match in matches %}
                <tr>
                    <td class="text-center">{{ match.0.name }}</td>
                    <td class="text-center">{{ match.0.skills }}</td>
                    <td class="text-center">{{ match.1.name }}</td>
                    <td class="text-center">{{ match.1.skills }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock  %}

</html>