<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Virtual Study-Buddy Finder</title>
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Coding Beasts</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'sbuddy:user_upload' %}">Create User</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'sbuddy:profile' %}">View Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="{% url 'sbuddy:match_strengths' %}">Match Strengths</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'sbuddy:match_skills' %}">Match Skills</a>
      </li>
    </ul>

  </div>
</nav>

<style>
    .form {
        margin-right: 15%;
        margin-left: 15%;
    }
    
</style>

    <div class="form jumbotron">
        <h2 class="text-center" style="padding-bottom:25px"> User Matches (By Strengths) </h2>
        <table class="table">
            <thead>
                <tr>
                <th class="text-center">User A</th>
                <th class="text-center">Strengths User A</th>
                <th class="text-center">User B</th>
                <th class="text-center">Strengths User B</th>
                </tr>
            </thead>

            <tbody>
                {% for match in matches %}
                <tr>
                    <td class="text-center">{{ match.0.name }}</td>
                    <td class="text-center">{{ match.0.strengths }}</td>
                    <td class="text-center">{{ match.1.name }}</td>
                    <td class="text-center">{{ match.1.strengths }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</head>

</html>