{% extends 'sbuddy/base.html' %}
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


{% block content %}
<body>
    <div class="container text-center jumbotron" style="max-width:750px">
        <h2 class="text-center" style="padding-bottom:25px"> User Profiles </h2>
        <table class="table">
            <thead>
                <tr>
                <th>Name</th>
                <th>Strengths</th>
                <th>Weaknesses</th>
                <th>Availability</th>
                </tr>
            </thead>

            <tbody>
                {% for user in users %} 
                <tr>
                    <td class="text-center">{{ user.name }}</td>
                    <td class="text-center">{{ user.strengths }}</td>
                    <td class="text-center">{{ user.weaknesses }}</td>
                    <td class="text-center">{{ user.availability }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock%}