Django
gunicorn
django-allauth
django-bootstrap4
google-auth
google-api-python-client
oauth2client
unittest2
django-crispy-forms
pillow
twilio
django-phonenumber-field
django-phonenumber-field[phonenumbers]
phonenumbers
