
<h2> Profile List </h2>

<table class="table">
    <thead>
        <tr>
        <th>Name</th>
        <th>Strenghts</th>
        <th>Skills</th>
        <th>Schedule</th>
        </tr>
    </thead>

    <tbody>
        {% for user in users %} 
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.strengths }}</td>
            <td>{{ user.skills }}</td>
            <td>
                <a href="{{ user.schedule.url }}" class = "btn btn-primary btn-small">
                    Download Schedule
                </a>
                
        </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
